<!DOCTYPE HTML>

<html>

<body>
<h1 class="display-4">Application List</h1>

<div class="card" style="width: 18rem;">
    <p-table [value]= "applications">
        <ng-template  pTemplate="header">
            <tr>
                <th style="min-width:200px">Icon</th>
                <th style="min-width:200px">Name</th>
                <th style="min-width:200px">Description</th>
                <th style="min-width:200px">Url</th>
                <th style="min-width:200px">Owner</th>
                <th style="min-width:200px">Status</th>
                <th style="min-width:200px">Date</th>
                <th style="min-width:200px">Version</th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-applications>
            <tr>
                <td style="min-width:200px">{{applications.icone}}</td>
                <td style="min-width:200px">{{applications.name}}</td>
                <td style="min-width:200px">{{applications.description}}</td>
                <td style="min-width:200px">{{applications.url}}</td>
                <td style="min-width:200px">{{applications.owner}}</td>
                <td style="min-width:200px">{{applications.status}}</td>
                <td style="min-width:200px">{{applications.date }}</td>
                <td style="min-width:200px">{{applications.version}}</td>
                <td style="min-width:200px">
                <button pButton type="submit"  class="p-button-danger"icon="pi pi-trash" (click)="delete(applications.id)">
                </button>
                
                <button pButton type="submit"  class="p-button-success"icon="pi pi-pencil" (click)="update(applications.id)">
                </button>
                
            </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</body>
</html>
